.App {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-size: cover;
  height: 100vh;
}

.mitad1 {
  background-color: rgb(11, 131, 135);
}

#temp {
  grid-area: temp;
  background-color: rgb(183, 248, 195);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hora {
  grid-area: hora;
}

#tiempo {
  grid-area: tiempo;
}

#uv {
  grid-area: uv;
}

#viento {
  grid-area: viento;
}

#sol {
  grid-area: sol;
}

#maxmin {
  grid-area: maxmin;
}

#presion {
  grid-area: presion;
}

#hum {
  grid-area: hum;
}

#visi {
  grid-area: visi;
}

#aire {
  grid-area: aire;
}

.containerTiempo {
  display: grid;
  grid-template-areas:
    'temp maxmin tiempo sol'
    'hora hum presion viento'
    'hora uv visi aire';
  padding: 1.5vh;
  gap: 1vh;
}

.seccion,
.seccionDoble {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.seccion {
  height: 15vh;
  background-color: rgb(191, 202, 202);
}

.seccionDoble {
  background-color: rgb(239, 246, 191);
  height: 31vh;
}

.subseccion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  font-size: medium;
}

.elemento {
  padding-left: 0.7vw;
  padding-right: 0.7vw;
}

.mitad2 {
  background-color: rgb(154, 224, 219);
}