.App {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-size: cover;
  height: 100vh;
}

.mitad1 {
  background-color: rgb(53, 53, 88);
}

#temp {
  grid-area: temp;
}

#hora {
  grid-area: hora;
}

#tiempo {
  grid-area: tiempo;
}

#uv {
  grid-area: uv;
}

#viento {
  grid-area: viento;
}

#sol {
  grid-area: sol;
}

#maxmin {
  grid-area: maxmin;
}

#lluvia {
  grid-area: lluvia;
}

#humpresion {
  grid-area: humpresion;
}

#visi {
  grid-area: visi;
}

#aire {
  grid-area: aire;
}

.containerTiempo {
  display: grid;
  grid-template-areas:
    'temp maxmin tiempo sol'
    'hora humpresion lluvia viento'
    'hora uv visi aire';
  padding: 1.5vh;
  gap: 1vh;
}

.seccion,
.seccionDoble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.seccion {
  height: 15vh;
  background-color: white;
}

.seccionDoble {
  background-color: white;
  height: 31vh;
}

.subseccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15vh;
}

.elemento {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  border-radius: 10px;
  height: 13.5vh;
}

.mitad2 {
  background-color: rgb(154, 224, 219);
}

img {
  height: 13.5vh;
  margin: 5px;
  border-radius: 10px;
}

.elemento p {
  line-height: 1.5;
  margin: 0;
}

.texto-con-movimiento {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

@keyframes moverTexto {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(100px);
  }
  100% {
      transform: translateX(0);
  }
}

.texto-con-movimiento {
  animation: moverTexto 2s ease-in-out infinite;
}